---
import ArticleBottomComponent from "./ArticleBottomComponent.astro";
export type BottomArticle = {
	id: string
	title: string
	content: string
	img: string
}

const articles: BottomArticle[] = [
	{
		id: '01',
		title: 'Reviving Retro PCs',
		content: 'What happens when old PCs are given modern upgrades?',
		img: 'image-retro-pcs.jpg'
	},
	{
		id: '02',
		title: 'Top 10 Laptops of 2022',
		content: 'Our best picks for various needs and budgets.',
		img: 'image-top-laptops.jpg'
	},
	{
		id: '03',
		title: 'The Growth of Gaming',
		content: 'How the pandemic has sparked fresh opportunities.',
		img: 'image-gaming-growth.jpg'
	}
]
---

<div class='bottom' >
	{
			articles.map((item) => <ArticleBottomComponent article={item} />)
	}
</div>

<style lang='scss' >
  .bottom	{
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
