---
  import { Icon } from 'astro-icon/components'
  import Logo from "./Logo.astro";
  import NavItem from './NavItem.astro';

  type NavItem = {
    id: number
    name: string
    link: string
  }

  const navigationItems: NavItem[]  = [
    {
      id: 1,
      name: 'Home',
      link: '#'
    },
    {
      id: 2,
      name: 'New',
      link: '#'
    },
    {
      id: 3,
      name: 'Popular',
      link: '#'
    },
    {
      id: 4,
      name: 'Trending',
      link: '#'
    },
    {
      id: 5,
      name: 'Categories',
      link: '#'
    }
  ]
---

<div class='navbar'>
  <Logo />

  <nav class='navigation' >
    {
      navigationItems.map(item => <NavItem name={item.name} link={item.link} />)
    }
  </nav>
  <button class='hamburger-btn '>
	  <Icon name='icon-menu' size={40} class='menu' />
	  <Icon name='icon-menu-close' size={40} class='close' />
  </button>
  <div class="mobile-navigation-container ">
    <nav class='mobile-navigation' >
      {
        navigationItems.map(item => <NavItem name={item.name} link={item.link} />)
      }
    </nav>
  </div>
</div>

<style lang='scss' >
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navigation {
    display: none;
    gap: 1.5rem;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  .hamburger-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;

    .menu, .close {
      transition: all .4s ease-in;
    }

    .close {
      display: none;
    }

    &.show > .menu {
      display: none;
    }

    &.show > .close {
      display: block;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  .mobile-navigation-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      opacity: .6;
      background-color: #000;
    }

    &.show {
      display: block;
    }

    & .mobile-navigation {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 70%;
      background: var(--off-white);

      display: flex;
      flex-direction: column;
      padding: 200px 30px;
      gap: 20px;
    }
  }

  
</style>

<script>
  const hbgBtn = document.querySelector('.hamburger-btn') as HTMLButtonElement
  const mobileNavigationContainer = document.querySelector('.mobile-navigation-container')

  if(!hbgBtn || !mobileNavigationContainer) {
    console.error('Erreur de chargement')
  } else {
    hbgBtn.addEventListener('click', () => {
      hbgBtn.classList.toggle('show')
      mobileNavigationContainer.classList.toggle('show')
    })
  }
</script>
